[submodule "googletest"]
	path = third_party/googletest
	url = https://github.com/google/googletest.git
[submodule "minifb"]
	path = third_party/minifb
	url = https://github.com/emoon/minifb
[submodule "third_party/emsdk"]
	path = third_party/emsdk
	url = https://github.com/emscripten-core/emsdk
